<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/ytecleab/itis3135">CLT Web</a> |
        <a href="https://github.com/yoeltecleab">GitHub.com</a> |
        <a href="https://yoeltecleab.github.io">GitHub.io</a> |
        <a href="https://freecodecamp.org/yoeltecleab">Freecodecamp</a> |
        <a href="https://www.codecademy.com/profiles/yoeltecleab">Codecademy</a> |
        <a href="https://www.linkedin.com/in/yoeltecleab">LinkedIn</a> |
        <a href="youthfultiger.com/">Mascot</a> |
        <span>Built by <a href="yoeldesignsinc.com/">Yoel Designs &copy; 2025</a></span>
    </nav>
</footer>