<footer role="contentinfo">
    <nav aria-label="Footer Navigation">
        <a href="https://webpages.charlotte.edu/ytecleab/itis3135" rel="noopener noreferrer" target="_blank">CLT Web</a>
        |
        <a href="https://github.com/yoeltecleab" rel="noopener noreferrer" target="_blank">GitHub.com</a> |
        <a href="https://yoeltecleab.github.io" rel="noopener noreferrer" target="_blank">GitHub.io</a> |
        <a href="https://freecodecamp.org/yoeltecleab" rel="noopener noreferrer" target="_blank">Freecodecamp</a> |
        <a href="https://www.codecademy.com/profiles/yoeltecleab" rel="noopener noreferrer"
           target="_blank">Codecademy</a> |
        <a href="https://www.linkedin.com/in/yoeltecleab" rel="noopener noreferrer" target="_blank">LinkedIn</a> |
        <a href="youthfultiger.com/">Mascot</a> |
        <span>Built by <a href="yoeldesignsinc.com/">Yoel Designs &copy; 2025</a></span>
    </nav>
</footer>