<header role="banner">
    <h1>Yoel Tecleab | Youthful Tiger | ITIS3135</h1>
    <nav aria-label="Primary">
        <a href="index.html">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="intro_form.html">Introduction Form</a> |
        <a href="contract.html">Contract</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="fccfsjs_outline.html">FCC JS Outline</a>
        <a href="project_overview.html">Project Overview</a>
    </nav>
    <nav aria-label="Secondary" class="secondary-nav">
        <a href="stuff/INDEX & page.htm">Crappy Website</a>
        <a href="yoeldesignsinc.com/">Yoel Designs</a>
        <a href="hobby/">Hobby</a>
        <a href="https://itis3135-react.vercel.app/">React 3</a>
    </nav>
</header>